.fstPage  {
    background-image:url("https://github.com/DBSE-teaching/isee2019-CodeSlayers/blob/master/docs/images/ironman.jpg");
    /*background-color: lightgray;*/
    height: 700px;
    width:100%;
    background-size:cover;
}
